<% if @product.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>Alerta !! </b><%= @product.errors.count > 1 ? "Se han encontrado #{@product.errors.count} errores:": "Se ha encontrado #{@product.errors.count} error:" %>

      <% @product.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
<% end %>

<%= form_for @product do |f| %>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Sucursal</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.select :company_id, Company.all.map { |c| [c.nombre, c.id] },{ prompt: "- Seleccionar -", selected: @product.company_id }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Nombre</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Descripción</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_area :descripcion, rows: 5, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Cantidad</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_field :cantidad, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Precio de Compra</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_field :precio_compra, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Precio de Venta</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_field :precio_venta, class: 'form-control' %>
    </div>
  </div>

  <div class="pull-right">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
  <div class="clearfix"></div>
<% end %>
