<div class="pull-right">
<%= link_to "Nueva", new_sale_path, class: 'btn btn-danger' %>
</div>
<div class="clearfix"></div>
<br />
<% if @sales.blank? %>
<div class="alert alert-info alert-dismissible mx-auto" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
  No existen elementos en la base de datos, favor de crear algunos!!
</div>
<% else %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Vendedor</th>
      <th width="75">Opciones</th>
      <th>Compañia</th>
      <th>Neto</th>
      <th>Neto IVA</th>
      <th>Total compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.user.nombres %></td>
        <td class="text-center">
        <!-- Boton mostrar -->
        <%= link_to sale_path sale do %>
          <i class="fa fa-eye text-muted"></i>
        <% end %>
        <!-- Boton editar -->
        <%= link_to edit_sale_path sale do %>
          <i class="fa fa-pencil text-muted"></i>
        <% end %>
        <!-- Boton eliminar -->
        <%= link_to sale_path( sale ), method: :delete, data: { confirm: '¿Estas seguro de eliminar este elemento?' } do %>
          <i class="fa fa-trash-o text-muted"></i>
        <% end %>
      </td>
        <td><%= sale.company.nombre %></td>
        <td><%= sale.neto %></td>
        <td><%= sale.neto_iva %></td>
        <td><%= sale.total_compra %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>