
<div class="pull-left">
  <%= link_to "<i class='fa fa-credit-card'>&nbsp;</i>Realizar compra".html_safe, charge_sales_path(@sale), class: 'btn btn-lg btn-success' %>
</div>

<div class="pull-right">
  <%= link_to "Listado", sales_path, class: 'btn btn-light' %>
  <%= link_to "Nueva", new_sale_path, class: 'btn btn-danger' %>
  <%= link_to "Editar", edit_sale_path, class: 'btn btn-secondary'  %>
  <%= link_to "Eliminar", sale_path, method: :delete, class: 'btn btn-dark'  %>
</div>
<div class="clearfix"></div>
<br />

<% if !notice.blank? %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>Información !!</b> <%= notice %>
  </div>
<% end %>

<div class="row">

  <!-- General Data -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="text-center text-muted">Datos Generales</h5>
    
    <table class="table">
      <tbody>
        <tr>
          <th width="30%">Razon Social</th>
          <td><%= @sale.company.bussines_name.nombre %></td>
        </tr>
        <tr>
          <th>RFC</th>
          <td><%= @sale.company.bussines_name.rfc %></td>
        </tr>
        <tr>
          <th>Compañia</th>
          <td><%= @sale.company.nombre %></td>
        </tr>
        <tr>
          <th>Cobro</th>
          <td><%= @sale.user.nombre_usuario %></td>
        </tr>
        <tr>
          <th>Neto</th>
          <td class="text-right"><%= money_format( @sale.neto ) %></td>
        </tr>
        <tr>
          <th>IVA</th>
          <td class="text-right"><%= money_format( @sale.neto_iva ) %></td>
        </tr>
        <tr>
          <th>Total a pagar</th>
          <td class="text-right"><%= money_format( @sale.total_compra ) %></td>
        </tr>
        
      </tbody>
    </table>

  </div>
  
  <!-- Detail Data -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="text-center text-muted">Detalle de compra</h5>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Importe</th>
        </tr>
      </thead>

      <tbody>
        <% @sale.details.each do |item| %>
        <tr>
          <td><%= item.product.nombre %></td>
          <td class="text-center"><%= item.cantidad %></td>
          <td class="text-right"><%= money_format( item.product.precio_venta ) %></td>
          <td class="text-right"><%= money_format( item.importe ) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

