<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sale.user_id %>
</p>

<p>
  <strong>Ompany:</strong>
  <%= @sale.company_id %>
</p>

<p>
  <strong>Neto:</strong>
  <%= @sale.neto %>
</p>

<p>
  <strong>Neto iva:</strong>
  <%= @sale.neto_iva %>
</p>

<p>
  <strong>Total compra:</strong>
  <%= @sale.total_compra %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
