<div class="pull-left">
  <%= link_to "<i class='fa fa-credit-card'>&nbsp;</i>Realizar compra".html_safe, new_sale_charge_path(@sale), class: 'btn btn-success' %>
  <%= link_to sale_path(@sale, format: 'pdf'), target: '_blank', class: 'btn btn-info btn-sm'  do %>
    <i class="fa fa-file-pdf-o 3x"></i>
  <% end %>
</div>

<div class="pull-right">
  <%= link_to "Listado", sales_path, class: 'btn btn-light btn-sm' %>
  <%= link_to "Nueva", new_sale_path, class: 'btn btn-danger btn-sm' %>
  <%= link_to "Editar", edit_sale_path, class: 'btn btn-secondary btn-sm'  %>
  <%= link_to "Eliminar", sale_path, method: :delete, class: 'btn btn-dark btn-sm'  %>

</div>
<div class="clearfix"></div>
<br />

<% if !notice.blank? %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>Información !!</b> <%= notice %>
  </div>
<% end %>

<div class="row">

  <!-- General Data -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="text-center text-muted">Datos Generales</h5>
    
    <table class="table">
      <tbody>
        <tr>
          <th width="30%">Razon Social</th>
          <td><%= @sale.company.bussines_name.nombre %></td>
        </tr>
        <tr>
          <th>RFC</th>
          <td><%= @sale.company.bussines_name.rfc %></td>
        </tr>
        <tr>
          <th>Compañia</th>
          <td><%= @sale.company.nombre %></td>
        </tr>
        <tr>
          <th>Cobro</th>
          <td><%= @sale.user.nombre_usuario %></td>
        </tr>
        <tr>
          <th>Neto</th>
          <td class="text-right"><%= money_format( @sale.neto ) %></td>
        </tr>
        <tr>
          <th>IVA</th>
          <td class="text-right"><%= money_format( @sale.neto_iva ) %></td>
        </tr>
        <tr>
          <th>Total a pagar</th>
          <td class="text-right"><%= money_format( @sale.total_compra ) %></td>
        </tr>
        
      </tbody>
    </table>

  </div>
  
  <!-- Detail Data -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="table-responsive">
      <%= render 'table_detail', object: @sale %>
    </div>
  </div>
</div>

