<h5 class="text-center text-muted">Elementos comprados</h5>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>

  <tbody>
    <% total_compra = 0 %>
    <% @order.line_items.each do |item| %>
    <tr>
      <td><%= item[1].name %></td>
      <td class="text-center"><%= item[1].quantity %></td>
      <td class="text-right"><%= money_format( item[1].unit_price.to_f/10 ) %></td>
      <td class="text-right"><%= money_format( item[1].quantity * item[1].unit_price.to_f/100 ) %></td>
      <% total_compra += ( item[1].quantity * item[1].unit_price.to_f/100 ) %>
    </tr>
    <% end %>
    <tr>
      <th colspan="3" class="text-right">Total</th>
      <th><%= money_format(total_compra.round(2)) %></th>
    </tr>
  </tbody>
</table>
